@use "style" as style;
.products {
  @include style.adaptiv-value("padding-bottom", 44, 30, 1);
  &__title {
    margin: 0 0 calc(32 / 40 * 1em) 0;
  }
  &__items {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  }
  &__footer {
    padding: 32px 0 0 0;
    text-align: center;
  }
  &__more {
    border: 1px solid var(--orange-color);
    min-width: 245px;
    &._hold {
      opacity: 0.4;
      cursor: default;
    }
  }
}
.item-product {
  background: #f4f5f7;
  display: flex;
  flex-direction: column;
  position: relative;
  @media (any-hover: hover) {
    &:hover {
      .item-product__actions {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__labels {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    @include style.adaptiv-value("right", 24, 10, 1);
    @include style.adaptiv-value("top", 24, 10, 1);
  }
  &__label {
    flex: 0 0 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
    &_sale {
      background: #e97171;
    }
    &_new {
      background: #2ec1ac;
    }
  }
  &__image {
    padding: 0 0 calc(301 / 285 * 100%) 0;
  }
  &__body {
    flex: 1 1 auto;
    padding: 16px 16px 30px;
    display: flex;
    flex-direction: column;
  }
  &__content {
    flex: 1 1 auto;
  }
  &__title {
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 calc(8 / 24 * 1em) 0;
    @include style.adaptiv-value("font-size", 24, 20, 1);
  }
  &__text {
    color: var(--grey-color);
    line-height: 1.5;
    margin: 0 0 calc(8 / 24 * 1em) 0;
  }
  &__prices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1.5;
  }
  &__price {
    font-weight: 600;
    @include style.adaptiv-value("font-size", 20, 16, 1);
    &_old {
      font-weight: normal;
      margin: 0 0 0 16px;
      color: #b0b0b0;
      text-decoration: line-through;
      @include style.adaptiv-value("font-size", 16, 14, 1);
    }
  }
  &__actions {
    @media (any-hover: none) {
      padding: 15px 0 0 0;
    }
    @media (any-hover: hover) {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(58, 58, 58, 0.74);
      z-index: 3;
      transition: all 0.3s ease 0s;
    }
  }
}
.actions-product {
  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__button {
    flex: 1 1 100%;
    &:not(:last-child) {
      margin: 0 0 24px 0;
    }
    &._hold {
      opacity: 0.4;
      cursor: default;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    color: inherit;
    font-weight: 600;
    transition: color 0.3s ease 0s;
    &::before {
      margin: 0 10px 0 0;
      font-size: 16px;
    }
    @media (any-hover: hover) {
      color: #fff;
      &:hover {
        color: var(--orange-color);
      }
    }
  }
}
